{% from "helpers/confirm.html" import confirm as confirm %}

 {% macro renderitem(element, long=False) %} 
			{% if element.renderfields %}
				{% set fields = element.renderfields %}
			{% else %}
				{% set fields = element._fields.keys() %}
			{% endif %}

	<div class="list-group">
		<dl class="list-group-item">
			{%if element.badge %}
				<span class="badge">{{ element[element.badge]|length }}</span>
			{% endif %}			

			{% for field in fields %}
				{% if field != "id" %}
					<dt>{{ field | title }}</dt>
					{% if not element[field]  %}
						<dd>&nbsp;</dd>
					{% elif field == "date" %}
						<dd>{{ element[field] | humanize('naturaldate') }} </dd>
					{% elif field in  element.renderfieldsaslist%}
						<dd>
							<ul>
							{% for i in element[field] %}
								<li>{{ i  | capitalize }}</li>
							{% endfor %}
							</ul>
						<dd>
					{% else %}
						{% if long %}
							<dd>{{ element[field]  | capitalize  }}</dd>
						{% else %}
							<dd>{{ element[field]  | capitalize | truncate(25) }}</dd>						
						{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}
		</dl>
			{% if element.editurl %}
				<div class="btn-group btn-group-justified" role="group">
					{% for action in element.actions.keys() %}
						{% if action != "delete" %}
							<a href="{{element.editurl}}/{{action}}/{{ element['id'] }}" role="button" type="button" class="btn btn-primary">{{ element.actions[action]}}</a>
						{% else %}
							{{ confirm(element.editurl, element['id']) }}
						{% endif %}
					{%endfor %}
				</div>
			{% endif %}

	</div>
 {% endmacro %}