{% macro renderlist(item, i) %}
{% if  i%3 ==0 %}
	<div class="row">
 {% endif %}
	<div class="col-md-4">
		<ul class="list-group">
			<li class="list-group-item">
			{%if badge %}
				<span class="badge">{{ item[badge]|length }}</span>
			{% endif %}
			{% for field in fields %}
				{% if field != "id" %}
					<strong>{{ field | capitalize }}</strong> : 
					{% if field == "date" %}
						{{ item[field] | humanize('naturaldate') }} 
					{% else %}
						{{ item[field] |safe }} 
					{% endif %}
					<br>
				{% endif %}
			{% endfor %}
			<br>
			<div class="btn-group" role="group">
				<a href="{{editurl}}/{{ item['id'] }}" role="button" type="button" class="btn btn-default">View</a>
				<a href="{{editurl}}/{{ item['id'] }}" role="button" type="button" class="btn btn-default">Edit</a>
				<a href="{{editurl}}/delete/{{ item['id'] }}" role="button" type="button" class="btn btn-default">Delete</a>
			</div>
			</li>
		</ul>
	</div>
{% if i %3 == 2 %}
	</div>
{% endif %}
{% endmacro %}
 
 
 {% extends "base.html" %}
 {% block content %} 
	<div class="container">
	{{ super() }}
				{% set i = 0 %}
				{% for item in list %}
					{% set i = loop.index-1 %}
					{{  renderlist(item, i) }}
				{% endfor %}
				{% if (i%3) < 2 %}
					</div>
				{% endif %}
	</div>
 {% endblock %}