{% from "helpers/confirm.html" import confirm as confirm %}
{% from "helpers/item.html" import renderitem as renderitem %}

{% macro renderlist(item, i) %}
{% if  i%3 ==0 %}
	<div class="row">
 {% endif %}
	<div class="col-md-4">
		{{ renderitem(item) }}
	</div>
{% if i %3 == 2 %}
	</div>
{% endif %}
{% endmacro %}
 
 
 {% extends "base.html" %}
 {% block content %} 
	<div class="container">
	{{ super() }}
				{% set i = 0 %}
				{% for item in list %}
					{% set i = loop.index-1 %}
					{{  renderlist(item, i) }}
				{% endfor %}
				{% if (i%3) < 2 %}
					</div>
				{% endif %}
	</div>
 {% endblock %}