{% macro renderchart(chart, i) %}
{% if  i%3 ==0 %}
	<div class="row">
 {% endif %}
	<div class="col-md-4">
		{{ chart.make_chart()|safe }}
	</div>
{% if i %3 == 2 %}
	</div>
{% endif %}

 {% endmacro %}


 
 {% extends "base.html" %}
 {% block content %} 
	<div class="container">
		{{ super() }}
		<script src="{{url_for('.static', filename='js/chart.min.js')}}"></script>
		<script>
			Chart.defaults.global.responsive = true;
			Chart.defaults.global.title.display = false;
			Chart.defaults.global.tooltips.enabled = false;
		</script>
				{% set i = 0 %}
				{% for item in charts %}
					{% set i = loop.index-1 %}
						{{renderchart(item, i) }}
				{% endfor %}
				{% if (i%3) < 2 %}
					</div>
				{% endif %}
		
		
	</div>
 {% endblock %}