{% macro renderchart(chart, i) %}
{% if  i%3 ==0 %}
	<div class="row">
 {% endif %}
	<div class="col-md-4">
	<h5 class="text-center">{{ chart.title}}</h5>
		<canvas id="chart{{i}}"></canvas>
		<script>
new Chart(document.getElementById("chart{{i}}").getContext("2d"), {
    type: "{{chart.type}}",
    data: {
        labels: [{% for item in chart.labels %}
                  "{{item}}",
              {% endfor %}],
        datasets: [{
            data: [{% for item in chart.values %}
                      "{{item}}",
                    {% endfor %}],
			backgroundColor:  [{% for item in chart.colors %}
                      "{{item}}",
                    {% endfor %}]
        }]},
		options: { 
			scales : { 
				yAxes : [{
					ticks : {
						beginAtZero: true
					}
				}]
			}
		}
	});   
   
</script>
	</div>
{% if i %3 == 2 %}
	</div>
{% endif %}

 {% endmacro %}


 
 {% extends "base.html" %}
 {% block content %} 
	<div class="container">
		{{ super() }}
		<script src="{{url_for('.static', filename='js/chart.js')}}"></script>
		<script>
			Chart.defaults.global.responsive = true;
			Chart.defaults.global.title.display = false;
			Chart.defaults.global.tooltips.enabled = false;
		</script>
				{% set i = 0 %}
				{% for item in charts %}
					{% set i = loop.index-1 %}
						{{renderchart(item, i) }}
				{% endfor %}
				{% if (i%3) < 2 %}
					</div>
				{% endif %}
		
		
	</div>
 {% endblock %}