 {% extends "base.html" %}
 {% from "helpers/confirm.html" import confirm as confirm %}
 
 {% block content %} 
	<div class="container">
	{{ super() }}
	<div class="row">
	<div class="col-md-12">
		<ul class="list-group">
			<li class="list-group-item">
			{%if badge %}
				<span class="badge">{{ element[badge]|length }}</span>
			{% endif %}
			{% for field in fields %}
				{% if field != "id" %}
					<strong>{{ field | title }}</strong> : 
					{% if field == "date" %}
						{{ element[field] | humanize('naturaldate') }} <br>
					{% elif field == "members" %}
						{% for i in element[field] %}
							{{ i  | capitalize }} <br>
						{% endfor %}
					{% else %}
						{{ element[field] | safe | capitalize | truncate(20) }}<br> 
					{% endif %}
				{% endif %}
			{% endfor %}
			<br>
			<div class="btn-group" role="group">
				<a href="{{editurl}}/edit/{{ element['id'] }}" role="button" type="button" class="btn btn-default">Edit</a>
				{{ confirm(editurl, element['id']) }}
			</div>
			</li>
		</ul>
	</div>
	</div>
	</div>
 {% endblock %}